# IDE and OS files
.idea/*
!.idea/codeStyles
!.idea/copyright
.DS_Store

# Environment variables
frontend/.env
backend/.env

# Dependencies
frontend/node_modules/
backend/node_modules/

# Production build
frontend/build/