.navbar {
  background-color: #212529;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 4rem;
  padding: 0 2rem;
  margin-top: 2rem;
  }

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* pushes items to the ends */
  height: 100%;
  max-width: 100rem;
  margin: 0 auto; /* centers the container*/
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo {
  width: 4rem;
  height: 4rem;
  color: #007bff;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-username {
  font-size: 1.25rem;
  color: #ced4da;
}
  
.navbar-logout-button {
  background-color: #495057;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}
  
.navbar-logout-button:hover {
  background-color: #6c757d;
}
  